/** Accessibility via CSS **/
.contact_button:hover, .contact_button:focus/*, .filter-medias select:focus*/ {
    background-color: #DB8876;
    color: black;
}

/**Rest of the page **/
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.photograph-header h1 {
    font-size: 64px;
    color: #D3573C;
    margin: 0;
}

.photograph-header #localisation {
    font-size: 24px;
    color: #901C1C;
    margin: 0;
}

.photograph-header #tagline {
    font-size: 18px;
    color: #525252;
    margin: 0;
}

.like_price {
    position: fixed;
    bottom: 0;
    right: 36px;
    display: flex;
    background-color: #DB8876;
    padding: 21px 31px;
    border-radius: 5px 5px 0 0;
    z-index: 5;
}

.like_price .likes, .like_price .price {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
}

.like_price .price {
    margin-left: 67px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/** Filtres **/

.filter-medias {
    margin: 0 100px;
    display: block;
}

.sort-title {
    font-size: 18px;
    font-weight: 700;
    margin-right: 25px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown :hover {
    cursor: pointer;
}

#dropdown-title {
    margin-right: 25px;
}

.dropdown-arrow {
    transform: rotate(-180deg);
}

.dropbtn {
    font-size: 18px;
    font-weight: 700;
    background-color: #901C1C;
    color: white;
    border: none;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 23px;
}

.dropdown-menu {
    position: absolute;
    z-index: 10;
    display: none;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style: none;
    width: 100%;
}

.sort-button {
    width: 100%;
    border-radius: 0;
    background-color: #901C1C;
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    padding: 20px 15px;
    border: none;
    border-top: 1px solid white;
    border-radius: 0 0 5px 5px;
}

.li-dropdown button:hover {
    cursor: pointer;
}

.sort-name {
    display: block;
}

/** Media **/

.photograph-media {
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 0px;
}

.photograph-media article {
    /*width: 350px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px; 
}

.photograph-media article button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.photograph-media article:nth-child(1), .photograph-media article:nth-child(2), .photograph-media article:nth-child(3) {
    margin-top: 0;
}

.photograph-media article img, .photograph-media article video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.photograph-media article img:hover, .photograph-media article video:hover {
    cursor: zoom-in;
}

.photograph-media article aside {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

/*.photograph-media article aside p, .photograph-media article aside p button {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin: 0;
    padding: 0;
}*/



.photograph-media article aside p, .photograph-media article aside p button {
    margin: 0;
    padding: 0;
    color: #DB8876;
    font-size: 24px;
    font-weight: 400;
}

.titleMedia, .photograph-media article aside p span {
    color: #901C1C!important;
}

.isLike {
    color: #901C1C!important;
}

.photograph-media article aside p:nth-child(1) {
    flex: 1.5;
} 

.photograph-media article aside p:nth-child(2) {
    flex: 0.5;
    text-align: end;
}

.photograph-media article aside p:nth-child(2) i:hover {
    cursor: pointer;
}


/** Modal **/
#contact_modal {
    display: none;
    height: 99.5vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(202, 202, 202, 0.4);

    overflow: auto;
    
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: self-start;
    margin-bottom: 20px;
}

.modal header button, .carousel header button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.modal header button i {
    font-size: 42px;
    color: white;
}

.modal header h1 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: black;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input, form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
}

form input {
    height: 68px;
}

form textarea {
    height: 170px;
    appearance: none;
    margin-bottom: 20px;
}

.buttonBox {
    width: 100%;
    display: flex;
    justify-content: start;
}

/** Lightbox **/
#lightbox_carousel {
    width: 99.9vw;
    height: 99.9vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(202, 202, 202, 0.9);

    overflow: auto;

    display: none;
    justify-content: center;
}

.carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.carousel header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.carouselContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#divMedia p {
    color: #901C1C;
    font-size: 24px;
}

#divMedia img, #divMedia video {
    max-width: 900px;
    max-height: 80vh;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls {
    background-color: transparent;
    border: none;
}

.sr-only {
   position:absolute;
   width:1px;
   height:1px;
   padding:0;
   margin:-1px;
   overflow:hidden;
   clip:rect(0,0,0,0);
   white-space:nowrap;
   border:0
}


.prev-image {
   left: 20px;
}

.fa-chevron-right,
.fa-chevron-left {
   font-size: 48px!important;
   color: #901C1C;
}

.fa-chevron-right:hover,
.fa-chevron-left:hover {
    cursor: pointer;
}

.next-image {
   right: 20px;
}