/** Accessibility via CSS **/
.contact_button:hover, .contact_button:focus/*, .filter-medias select:focus*/ {
    background-color: #DB8876;
    color: black;
}

/**Rest of the page **/
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.photograph-header h1 {
    font-size: 64px;
    color: #D3573C;
    margin: 0;
}

.photograph-header #localisation {
    font-size: 24px;
    color: #901C1C;
    margin: 0;
}

.photograph-header #tagline {
    font-size: 18px;
    color: #525252;
    margin: 0;
}

.like_price {
    position: fixed;
    bottom: 0;
    right: 36px;
    display: flex;
    background-color: #DB8876;
    padding: 21px 31px;
    border-radius: 5px 5px 0 0;
    z-index: 5;
}

.like_price .likes, .like_price .price {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
}

.like_price .price {
    margin-left: 67px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.filter-medias {
    margin: 0 100px;
}

.filter-medias label, .filter-medias select  {
    font-size: 18px;
    font-weight: 700;
}

.filter-medias label {
    margin-right: 12px;
}

.filter-medias select {
    background-color: #901C1C;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

/** Media **/

.photograph-media {
    border: 2px solid red;
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    margin-bottom: 70px;
}

.photograph-media article {
    border: 2px solid green;
    /*width: 350px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.photograph-media article img, .photograph-media article video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border: 2px solid coral;
    border-radius: 5px;
}

.photograph-media article img:hover, .photograph-media article video:hover {
    cursor: zoom-in;
}

.photograph-media article aside {
    border: 2px solid orange;
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.photograph-media article aside p {
    border: 2px solid lightblue;
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin: 0;
    padding: 0;
}

.photograph-media article aside p:nth-child(1) {
    flex: 1.5;
} 

.photograph-media article aside p:nth-child(2) {
    flex: 0.5;
    text-align: end;
}

.photograph-media article aside p:nth-child(2) i:hover {
    cursor: pointer;
}


/** Modal **/
#contact_modal {
    display: none;
    height: 99.5vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(202, 202, 202, 0.4);

    overflow: auto;
    
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: self-start;
    margin-bottom: 20px;
}

.modal header button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.modal header button i {
    font-size: 42px;
    color: white;
}

.modal header h1 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: black;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input, form textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
}

form input {
    height: 68px;
}

form textarea {
    height: 170px;
    appearance: none;
    margin-bottom: 20px;
}

.buttonBox {
    width: 100%;
    display: flex;
    justify-content: start;
}

/** Lightbox **/
#lightbox_carousel {
    
}

.sr-only {
   position:absolute;
   width:1px;
   height:1px;
   padding:0;
   margin:-1px;
   overflow:hidden;
   clip:rect(0,0,0,0);
   white-space:nowrap;
   border:0
}

.carousel {
   position: relative;
   padding: 0;
   margin: 0;
}

.carousel-item {
   height: 100%;
   width: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   list-style-type: none;
   border: 2px solid red;
}

.carousel > .carousel-item > .carousel-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel > .carousel-item > .carousel-media > img {
    width: 150px;
    height: 150px;
}

.item-0 {
   background-color: tomato;
}
 
.item-1 {
   background-color: blue;
   display: none;
}
 
.item-2 {
   background-color: green;
   display: none;
}

.img {
   height: 40px;
   width: 40px;
   background-color: white;
   border-radius: 50%;
   display: flex;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
   align-items: center;
   justify-content: center;
}
 
.prev-image {
   left: 20px;
}

.fa-arrow-circle-left,
.fa-arrow-circle-right {
   font-size: 30px!important;
}

.next-image {
   right: 20px;
}